<span id="hi">Hi.</span>
I’m Dallas and I live in Walla Walla, Washington. I graduated from
<%= link_to_blank 'Walla Walla University', 'http://www.wallawalla.edu/' %>
in 2006 with a Bachelors of Science degree in
<%= link_to_unless_current 'graphic design', portfolio_path('print') %>
but I’ve been doing
<%= link_to_unless_current 'web development', portfolio_path('web') %>
since early 2007. I
<%= link_to_blank 'got married', 'http://wedding.dallasandnicole.com/' %>
in the summer of 2008 and my wife and I have
<%= link_to_blank 'a blog', 'http://dallasandnicole.com/' %>
to share our life with friends and family.
