<p class="column span-2 first">
  <%= render 'about_me' %>
</p>

<p class="column span-2">
  I currently work for
  <%= link_to_blank 'American Winery', 'http://www.americanwinery.com/' %>,
  a marketplace for connecting American wine consumers with American wineries.
  One of our recently completed projects is an affiliate marketing and sales program we dubbed
  <%= link_to_blank 'winecliQ', 'http://winecliq.com/' %>.
</p>

<p class="column span-2 last">
  In my spare time I enjoy working on freelance projects including a
  <%= link_to_blank 'store front', 'http://legrandcru.us/' %> and
  <%= link_to_blank 'blog', 'http://blog.legrandcru.us/' %>
  for Le Grand Cru, a Seattle-based clothing company, and helping friends
  <%= link_to_blank 'develop', 'http://github.com/coffeepostal/iDo-Wedding-App/tree/master' %> a
  <%= link_to 'website', 'http://www.adamgotdiana.com/' %>
  for managing their wedding RSVPs.
</p>
