<div id="screenshots" class="container scroller-wrapper">
  <div class="scroller-container">
    <ol class="scroller">
      <%- @pieces.each do |piece| -%>
        <li class="column span-1">
          <%= link_to_if(piece.url.present?,
            image_tag(piece.image_path, :alt => piece.title, :title => piece.title),
            piece.url,
            :target => '_blank'
          ) %>
        </li>
      <%- end -%>
    </ol>
  </div>
  
  <%- if @pieces.length > 6 -%>
    <%= link_to 'next',     '#next',      :class => 'right-arrow' %>
    <%= link_to 'previous', '#previous',  :class => 'left-arrow' %>
  <%- end -%>
</div>

<div id="mainCopy" class="container prepend-top">
  <p class="column span-2 first">
    <span id="hi">Hi.</span>
    I’m Dallas and I live in Walla Walla, WA. I graduated from
    <%= link_to 'Walla Walla College (University)', 'http://www.wallawalla.edu/', :target => '_blank' %>
    in 2006 with a B.S. in
    <%= link_to_unless_current 'Graphic Design', portfolio_path('print') %>
    but I’ve been doing
    <%= link_to_unless_current 'web development', portfolio_path('web') %>
    since early 2007. I
    <%= link_to 'got married', 'http://wedding.dallasandnicole.com/', :target => '_blank' %>
    in the summer of 2008 and my wife and I have
    <%= link_to 'a blog', 'http://dallasandnicole.com/', :target => '_blank' %>
    to share our life with friends and family.
  </p>
  
  <p class="column span-2">
    <%= paragraphs.shift %>
  </p>
  
  <p class="column span-2 last">
    <%= paragraphs.shift %>
  </p>
</div>

 