<!DOCTYPE HTML>

<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Dallas Reedy » Walla Walla, WA » Ruby on Rails web developer </title>
  <%= blueprint_stylesheets %>
  <%= stylesheet_link_tag 'application', :media => 'screen, projection' %>
</head>

<body class="<%= controller.action_name == 'index' ? params[:portfolio] : controller.action_name %>">
  <div id="page">
    <div id="header">
      <div id="siteId">
          <h1>dallas.reedy</h1>
      </div>
      <%= navigation %>
    </div>

    <div id="main" class="container">
      <%= yield %>
    </div>

    <div id="footer">
      <p id="github">
        <span class="column">check me out on</span>
        <%= link_to('github', 'http://github.com/dallas', :id => 'githubLink', :class => 'column', :target => '_blank') %>
      </p>
    </div>
  </div>

  <%= javascript_include_tag 'jquery', 'application' %>
</body>

</html>