<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Dallas Reedy » Walla Walla, WA » Ruby on Rails web developer </title>
  <%= blueprint_stylesheets %>
  <%= stylesheet_link_tag('application', :media => 'screen, projection') %>
</head>

<body class="<%= params[:portfolio] %>">
  <div id="page">
    <div id="header">
      <div id="siteId">
          <h1>dallas.reedy</h1>
      </div>
      
      <%= navigation %>
    </div>
    
    <div id="main" class="container">
      <%= yield %>
    </div>
    
    <div id="footer">
      <p id="github">
        Check me out on <%= link_to(image_tag('github_logo.png', :height => '20px'), 'http://github.com/dallas', :target => '_blank') %>.
      </p>
    </div>
  </div>
  
  <%= javascript_include_tag 'jquery', 'application' %>
</body>
  
</html>